-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: codextra
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$870000$nnNqBUr6CWpAgjLC2JuyMG$6de+0pDTclaKYvWHiWPP4DpfXXUmpM3V77cfTHAhjuM=','2024-09-18 14:50:58.088415',1,'sun','','','djangosun@gmail.com',1,1,'2024-09-14 22:04:14.468512');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_cart`
--

DROP TABLE IF EXISTS `codextra_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_cart` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `s_user_name_id` varchar(150) NOT NULL,
  PRIMARY KEY (`order_id`),
  KEY `codextra_cart_s_user_name_id_6921949d_fk_codextra_` (`s_user_name_id`),
  CONSTRAINT `codextra_cart_s_user_name_id_6921949d_fk_codextra_` FOREIGN KEY (`s_user_name_id`) REFERENCES `codextra_student` (`user_ptr_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_cart`
--

LOCK TABLES `codextra_cart` WRITE;
/*!40000 ALTER TABLE `codextra_cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `codextra_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_category`
--

DROP TABLE IF EXISTS `codextra_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_category` (
  `cat_id` int NOT NULL AUTO_INCREMENT,
  `cat_name` varchar(100) NOT NULL,
  PRIMARY KEY (`cat_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_category`
--

LOCK TABLES `codextra_category` WRITE;
/*!40000 ALTER TABLE `codextra_category` DISABLE KEYS */;
INSERT INTO `codextra_category` VALUES (1,'Data Science');
/*!40000 ALTER TABLE `codextra_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_course`
--

DROP TABLE IF EXISTS `codextra_course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_course` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `course_name` varchar(100) NOT NULL,
  `difficulty` varchar(15) NOT NULL,
  `price` double NOT NULL,
  `description` varchar(500) NOT NULL,
  `cat_id_id` int NOT NULL,
  `inst_user_name_id` varchar(150) NOT NULL,
  PRIMARY KEY (`course_id`),
  KEY `codextra_course_cat_id_id_cbe5ba5d_fk_codextra_category_cat_id` (`cat_id_id`),
  KEY `codextra_course_inst_user_name_id_40e0d623_fk_codextra_` (`inst_user_name_id`),
  CONSTRAINT `codextra_course_cat_id_id_cbe5ba5d_fk_codextra_category_cat_id` FOREIGN KEY (`cat_id_id`) REFERENCES `codextra_category` (`cat_id`),
  CONSTRAINT `codextra_course_inst_user_name_id_40e0d623_fk_codextra_` FOREIGN KEY (`inst_user_name_id`) REFERENCES `codextra_instructor` (`user_ptr_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_course`
--

LOCK TABLES `codextra_course` WRITE;
/*!40000 ALTER TABLE `codextra_course` DISABLE KEYS */;
INSERT INTO `codextra_course` VALUES (1,'Data Science for Beginners','beginner',19.99,'One of the leading course in the world. Take this course for having a great data science career.',1,'rasif');
/*!40000 ALTER TABLE `codextra_course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_coursematerial`
--

DROP TABLE IF EXISTS `codextra_coursematerial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_coursematerial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `section_no` int NOT NULL,
  `section_name` varchar(100) NOT NULL,
  `m_type` varchar(5) NOT NULL,
  `m_title` varchar(100) NOT NULL,
  `file_loc` varchar(100) NOT NULL,
  `duration` double DEFAULT NULL,
  `course_id_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_course_material` (`course_id_id`,`section_no`,`m_title`),
  CONSTRAINT `codextra_coursemater_course_id_id_570d868a_fk_codextra_` FOREIGN KEY (`course_id_id`) REFERENCES `codextra_course` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_coursematerial`
--

LOCK TABLES `codextra_coursematerial` WRITE;
/*!40000 ALTER TABLE `codextra_coursematerial` DISABLE KEYS */;
INSERT INTO `codextra_coursematerial` VALUES (1,1,'1','pdf','Something','pdfs/370_Project_-_EER.drawio.pdf',NULL,1);
/*!40000 ALTER TABLE `codextra_coursematerial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_digital_wallet`
--

DROP TABLE IF EXISTS `codextra_digital_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_digital_wallet` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `card_name` varchar(100) NOT NULL,
  `card_no` int NOT NULL,
  `exp_date` date NOT NULL,
  `cvc` int NOT NULL,
  `c_balance` double NOT NULL,
  `s_user_name_id` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `codextra_digital_wal_s_user_name_id_8c1d7d9a_fk_codextra_` (`s_user_name_id`),
  CONSTRAINT `codextra_digital_wal_s_user_name_id_8c1d7d9a_fk_codextra_` FOREIGN KEY (`s_user_name_id`) REFERENCES `codextra_student` (`user_ptr_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_digital_wallet`
--

LOCK TABLES `codextra_digital_wallet` WRITE;
/*!40000 ALTER TABLE `codextra_digital_wallet` DISABLE KEYS */;
/*!40000 ALTER TABLE `codextra_digital_wallet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_enroll`
--

DROP TABLE IF EXISTS `codextra_enroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_enroll` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rating_no` int NOT NULL,
  `description` varchar(500) NOT NULL,
  `course_id_id` int NOT NULL,
  `order_id_id` int NOT NULL,
  `s_user_name_id` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `codextra_enroll_course_id_id_07eed7b7_fk_codextra_` (`course_id_id`),
  KEY `codextra_enroll_order_id_id_3dd70731_fk_codextra_cart_order_id` (`order_id_id`),
  KEY `codextra_enroll_s_user_name_id_2eba9d13_fk_codextra_` (`s_user_name_id`),
  CONSTRAINT `codextra_enroll_course_id_id_07eed7b7_fk_codextra_` FOREIGN KEY (`course_id_id`) REFERENCES `codextra_course` (`course_id`),
  CONSTRAINT `codextra_enroll_order_id_id_3dd70731_fk_codextra_cart_order_id` FOREIGN KEY (`order_id_id`) REFERENCES `codextra_cart` (`order_id`),
  CONSTRAINT `codextra_enroll_s_user_name_id_2eba9d13_fk_codextra_` FOREIGN KEY (`s_user_name_id`) REFERENCES `codextra_student` (`user_ptr_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_enroll`
--

LOCK TABLES `codextra_enroll` WRITE;
/*!40000 ALTER TABLE `codextra_enroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `codextra_enroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_instructor`
--

DROP TABLE IF EXISTS `codextra_instructor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_instructor` (
  `user_ptr_id` varchar(150) NOT NULL,
  `bank_account` int NOT NULL,
  `routing_no` int NOT NULL,
  PRIMARY KEY (`user_ptr_id`),
  CONSTRAINT `codextra_instructor_user_ptr_id_00952c40_fk_codextra_` FOREIGN KEY (`user_ptr_id`) REFERENCES `codextra_user` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_instructor`
--

LOCK TABLES `codextra_instructor` WRITE;
/*!40000 ALTER TABLE `codextra_instructor` DISABLE KEYS */;
INSERT INTO `codextra_instructor` VALUES ('rasif',1203840445,344400);
/*!40000 ALTER TABLE `codextra_instructor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_student`
--

DROP TABLE IF EXISTS `codextra_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_student` (
  `user_ptr_id` varchar(150) NOT NULL,
  `level` int NOT NULL,
  PRIMARY KEY (`user_ptr_id`),
  CONSTRAINT `codextra_student_user_ptr_id_4422d241_fk_codextra_user_username` FOREIGN KEY (`user_ptr_id`) REFERENCES `codextra_user` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_student`
--

LOCK TABLES `codextra_student` WRITE;
/*!40000 ALTER TABLE `codextra_student` DISABLE KEYS */;
INSERT INTO `codextra_student` VALUES ('Anonna',0),('sany',12);
/*!40000 ALTER TABLE `codextra_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_transaction`
--

DROP TABLE IF EXISTS `codextra_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_transaction` (
  `t_id` int NOT NULL AUTO_INCREMENT,
  `t_date` date NOT NULL,
  `course_id_id` int NOT NULL,
  `order_id_id` int NOT NULL,
  PRIMARY KEY (`t_id`),
  KEY `codextra_transaction_course_id_id_3575e33a_fk_codextra_` (`course_id_id`),
  KEY `codextra_transaction_order_id_id_99a650ad_fk_codextra_` (`order_id_id`),
  CONSTRAINT `codextra_transaction_course_id_id_3575e33a_fk_codextra_` FOREIGN KEY (`course_id_id`) REFERENCES `codextra_course` (`course_id`),
  CONSTRAINT `codextra_transaction_order_id_id_99a650ad_fk_codextra_` FOREIGN KEY (`order_id_id`) REFERENCES `codextra_cart` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_transaction`
--

LOCK TABLES `codextra_transaction` WRITE;
/*!40000 ALTER TABLE `codextra_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `codextra_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codextra_user`
--

DROP TABLE IF EXISTS `codextra_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codextra_user` (
  `username` varchar(150) NOT NULL,
  `password` varchar(128) NOT NULL,
  `f_name` varchar(50) NOT NULL,
  `l_name` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codextra_user`
--

LOCK TABLES `codextra_user` WRITE;
/*!40000 ALTER TABLE `codextra_user` DISABLE KEYS */;
INSERT INTO `codextra_user` VALUES ('Anonna','djangoanonna','Sharmin','Anonna','annona@gmail.com'),('rasif','djangorasif','Rasif','Yumn','rasif@gmail.com'),('sany','djangosany','Abdullahis','Sany','sany@gmail.com');
/*!40000 ALTER TABLE `codextra_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(12,'codextra','cart'),(11,'codextra','category'),(10,'codextra','course'),(16,'codextra','course_material'),(17,'codextra','coursematerial'),(15,'codextra','digital_wallet'),(13,'codextra','enroll'),(8,'codextra','instructor'),(9,'codextra','student'),(14,'codextra','transaction'),(7,'codextra','user'),(5,'contenttypes','contenttype'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-18 20:59:28
